[user]
	email = hobartlin23@gmail.com
	name = Ethkuil
[core]
	quotepath = off
	editor = code --wait
[alias]
	# alias: list all aliases
	alias = !git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
	# glog: grep log
	glog = "!f() { git log --name-status --grep=$1; }; f"
	graph = log --all --graph --decorate --oneline
	# fast-forward merge is the intersection of merge and rebase, which should be the default behavior IMO.
	ff = merge --ff-only
	# refresh: update main branch and update current branch with main
	refresh = !git stash -u && git switch main && git pull && git switch - && git rebase main && git stash pop
	# status, stash and stage share the same first 3 letters, which makes tab completion hard to use.
	# While commit = com<tab>, switch = swi<tab>, branch = br<tab>, merge = mer<tab>, rebase = reb<tab> are all easy enough for me.
	st = status
[push]
	default = current
[pull]
	rebase = true
[safe]
	directory = *
