[user]
email = hobartlin23@gmail.com
name = Ethkuil
[core]
quotepath = off
editor = code --wait
[alias]
# alias: list all aliases
alias = !git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
# glog: grep log
glog = "!f() { git log --name-status --grep=$1; }; f"
ff = merge --ff-only
last = log -1
msg = commit -m
refresh = !git stash -u && git switch main && git pull && git switch - && git rebase main && git stash pop
st = status
undo = reset --soft HEAD^
zip = archive --format=zip -o latest.zip HEAD
[push]
default = current
[pull]
rebase = true
[safe]
	directory = *
