[user]
	email = ethkuil@gmail.com
	name = Ethkuil
[core]
	autocrlf = input
	eol = lf
	quotepath = off
[alias]
	# --- basic shortcuts ---
	cm = commit -m
	ds = diff --staged
	# status, stash and stage share the same first 3 letters, which makes tab completion hard to use.
	st = status -sb
	# reset and restore share the same first 3 letters, which makes tab completion hard to use.
	uncommit = reset HEAD~
	undo = restore
	unstage = reset

	# -- workflow helpers --
	sw = "!f() { git stash; git switch $1; git stash pop; }; f"
	away = "!f() { git stash push -m \"away to $1\"; git switch \"$1\"; }; f"
	back = "!f() { git switch -; git stash pop; }; f"
	wip = commit --no-verify --no-gpg-sign -m \"--wip-- [skip ci]\"
    sm = stash push -m

	# -- workspace --
	clean-ignored = clean -dX

	# -- index -> repo --
	amend = commit --amend -C HEAD

	# -- remote -> local --
	# refresh: refresh current branch by origin/$branch.
	refresh = "!f() { git stash; branch=${1:-$(git rev-parse --abbrev-ref HEAD)}; git fetch origin $branch; git rebase origin/$branch; git stash pop; }; f"

	# -- info --
	graph = log --graph --oneline

	# -- meta --
	alias = !git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
[push]
	default = current
[pull]
	rebase = true
[commit]
	verbose = true
[credential]
	helper = cache --timeout=3600
